<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .cor_vermelha{
            color: red;
        }
        .black{
            color: rgb(255, 255, 255);
            background-color: black;
        }
    </style>

    <link rel="stylesheet" href="estilo.css">
</head>
<body>

    <div class="banner"></div>

    <h1>Título</h1>
    <h3>Subtútulo</h3>
    <p>Texto do <span class = "cor_vermelha">parágrafo</span></p>

    <div class="black">

        <h1>Hello World</h1>
        <p>Bem-vindo, {{nome}}</p>
    </div>
</body>
</html>